.profile {
  width: 100%;
  height: auto;
  min-height: calc(100% - 70px);
  margin-top: 70px;
  padding: 64px 0;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}
.orderEmpty {
  grid-column: 2 / 12;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.orderEmpty h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.01rem;
  color: var(--yellow-color);
}
.left {
  grid-column: 3 / 11;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orderMain {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.right {
  grid-column: 15 / -3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  font-family: 700;
}
.main {
  width: 100%;
}
.mainInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1rem;
}
.mainInput label {
  color: rgb(18, 17, 16);
  font-size: 1rem;
  letter-spacing: 0em;
  font-weight: 400;
  line-height: 1.5em;
  cursor: pointer;
  align-items: flex-start;
  opacity: 0.6;
}
.mainInput input {
  height: 35px;
  border: 0px;
  margin: 0px;
  width: 100%;
  outline: none;
  font-size: inherit;
  padding: 0 3px;
}
.zipcode {
  width: 100%;
}
.zipcodeInput {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.zipcodeInput input {
  flex-basis: 30%;
}
.search {
  flex-basis: 70%;
  display: flex;
  align-items: center;
}
.search button {
  font-family: "Poppins", "NotoSansKR", sans-serif;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 700;
  width: 15%;
  padding: 3px 5px;
  min-width: 64px;
  color: white;
  background-color: black;
}
.address {
  position: relative;
}
.searchAddress {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 2222;
}
.mainButton {
  width: 100%;
  margin: 60px 0;
  position: relative;
}
.mainButton button {
  font-family: "Poppins", "NotoSansKR", sans-serif;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 700;
  width: 100%;
  min-width: 64px;
  padding: 17px 27px;
  color: white;
  background-color: black;
}
/* .error {
  position: absolute;
  top: calc(65px);
  left: 0%;
  font-size: 1.2rem;
  color: var(--yellow-color);
} */
.logout {
  display: flex;
}
.logout span {
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  cursor: pointer;
  font-weight: 400;
}
