.home {
  width: 100%;
  min-height: calc(100% - 70px);
  padding: 64px calc(100vw / 24);
  display: flex;
  flex-direction: column;
}
.mainWrap {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 3333;
}
.main {
  position: relative;
}
.videoWrap {
  position: relative;
  min-height: 810px;
}
.starSpray {
  position: relative;
  width: 100%;
  font-size: 5rem;
  z-index: 4444;
  color: var(--yellow-color);
  padding: 70px calc(100vw / 24);
}
.info {
  position: relative;
  width: 100%;
  font-size: 5rem;
  z-index: 4444;
  color: white;
  padding: calc(100vw / 24);
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .videoWrap {
    position: relative;
    min-height: 610px;
  }
  .starSpray {
    position: relative;
    width: 100%;
    font-size: 3rem;
    z-index: 4444;
    color: var(--yellow-color);
    padding: 70px 16px;
  }
  .info {
    position: relative;
    width: 100%;
    font-size: 3rem;
    z-index: 4444;
    color: white;
    padding: 16px;
  }
}
