.home {
  width: 100%;
  min-height: calc(100% - 70px);
  font-weight: 700;
  letter-spacing: 2px;
}
.main {
  position: relative;
  display: flex;
  flex-direction: column;
}
.main span {
  background: var(--star-background);
  background-size: 100%;
}
.videoWrap {
  position: relative;
  min-height: 810px;
}
.starSpray {
  position: relative;
  width: 100%;
  font-size: 5rem;
  z-index: 2222;
  color: var(--yellow-color);
  padding: 90px calc(100vw / 24);
  display: flex;
}
.starSpray span {
  padding: 0 5px;
}
.info {
  position: relative;
  width: 100%;
  font-size: 5rem;
  z-index: 4444;
  color: white;
  padding: 20px calc(100vw / 24);
  display: flex;
}
.info span {
  cursor: pointer;
  padding: 0 5px;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .videoWrap {
    min-height: 610px;
  }
  .starSpray {
    font-size: 3rem;
  }
  .info {
    font-size: 3rem;
  }
}
