.navMenu {
  width: 100%;
  height: 100vh;
  left: 0%;
  top: 0%;
  position: fixed;
  z-index: 9999;
}
.menu {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  z-index: 9999;
}
.xWrap {
  width: 100%;
  height: 70px;
}
.x {
  z-index: 8888;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-left: calc(100vw / 48);
  padding: 0 calc(100vw / 48);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.x button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  border-radius: 0;
  padding: 10px;
  text-align: center;
  background-color: transparent;
}
.top {
  display: flex;
  flex-direction: column;
  padding-left: calc(100vw / 12);
  font-weight: 700;
  letter-spacing: 2px;
}
.starSpray {
  font-size: 5rem;
  cursor: pointer;
}
.air {
  height: 5rem;
}
.menu_menu {
  font-size: 3rem;
  cursor: pointer;
}

/* 모바일 */
@media (max-width: 767px) {
  .starSpray {
    font-size: 2.5rem;
    cursor: pointer;
  }
  .air {
    height: 2.5rem;
  }
  .menu_menu {
    font-size: 2.5rem;
    cursor: pointer;
  }
}
