.adminOrderCard {
  width: 100%;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid red;
}
.main {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main_div {
  display: flex;
  justify-content: space-between;
}
.main_div input {
  width: 60%;
}
.main_div textarea {
  resize: none;
  width: 60%;
}
.cart {
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  flex-direction: column;
}
.right {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right button {
  width: 80%;
  height: 30%;
}
.error {
  display: flex;
  align-items: center;
  z-index: 2;
  color: var(--yellow-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-break: keep-all;
}
.error span {
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 767px) {
  .error span {
    font-size: 1.5rem;
  }
}
