.product {
  width: 100%;
  min-height: calc(100% - 70px);
  padding: 64px calc(100vw / 12);
}
.productWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 64px calc(100vw / 24);
}
