.personal {
  width: 100%;
  height: auto;
  min-height: calc(100% - 70px);
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.personalWrap {
  width: 640px;
  display: flex;
  flex-direction: column;
  padding: 64px 0;
}
.jo {
  padding: 15px 0;
}
h2 {
  padding: 3px 0;
}

@media (max-width: 767px) {
  .personalWrap {
    width: 100%;
    padding: 64px calc(100vw / 24);
    display: flex;
    flex-direction: column;
  }
}
