.admin {
  width: 100%;
  height: auto;
  min-height: calc(100% - 70px);
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.admin span {
  font-size: 3rem;
  cursor: pointer;
  color: var(--yellow-color);
}
