.questionCard {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.onTitle {
  font-weight: 700;
}
.answer {
  padding-top: 1rem;
}
